.Home_buttons{
    padding-top: 20px;
    justify-content: center;
  }
  .Home_buttons .Btn{
    margin: 0 10px;
  }
  
  .Home_sec{
    padding: 50px 0 300px;
    background: url(../../img/home.jpg) center no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    color: #ffffff;
  }
  .Home_sec__black{
    color: #000000;
  }
  .Home_sec__white{
    color:#090909;
  }
  .Home_sec__white .Btn{
    border-color: #d73bf3;
    color: #000000;
  }
  .Home_sec__black .Btn{
    border-color: #d73bf3;
    color: #000000;
  }
  .Home_sec__macaron{
    background-image: url(../../img/home.jpg);
  }
  .Home_sec__cake{
    background-image: url(../../img/home2.jpg);
  }
  .Home_sec__cupcake{
    background-image: url(../../img/home3.jpg);
  }
  .Home_slide{
    display: block;
    position: relative;
  }
  .Home_slide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
  }
  .Home_slide-txt{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: #dcadef;
    font-size: 15px;
    font-weight: 700;
    z-index: 1;
  }
  